@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<h3 class="text-center">Who we are</h3>
<br />
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="card card-inverse card-success text-center">
                <img class="card-img-top img-fluid" src="" alt="Manos" style="width:100%">
                <h3>Manos Nathanail</h3>
                <p class="title">Founder</p>
                <i class="glyphicon glyphicon-envelope"></i> lorem@random.net
                <br />
                <i class="glyphicon glyphicon-gift"></i> January 20, 1987
                <br />
                <br />
                <div class="btn-group">
                    <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-facebook"></span></a>
                    <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-linkedin"></span></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-inverse card-success text-center">
                <img class="card-img-top img-fluid" src="" alt="Kostas" style="width:100%">
                <h3>Konstantinos Karamaligkas</h3>
                <p class="title">Founder</p>
                <i class="glyphicon glyphicon-envelope"></i> lorem@random.net
                <br />
                <i class="glyphicon glyphicon-gift"></i> January 19, 1995
                <br />
                <br />
                <div class="btn-group">
                    <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-facebook"></span></a>
                    <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-linkedin"></span></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-inverse card-success text-center">
                <img class="card-img-top img-fluid" src="" alt="Chris" style="width:100%">
                <h3>Christos Laganas</h3>
                <p class="title">Founder</p>
                <i class="glyphicon glyphicon-envelope"></i> hrlagana@gmail.com
                <br />
                <i class="glyphicon glyphicon-gift"></i> August 17, 1987
                <br />
                <br />
                <div class="btn-group">
                    <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-facebook"></span></a>
                    <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-linkedin"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

