@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is an implementation of a crowdfunding platform assigned by .Net Academy</p>

<h3 class="text-center">Who we are</h3>
<br />
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="card card-inverse card-success text-center">
                <img class="card-img-top img-fluid" src="http://via.placeholder.com/200x200" alt="Manos" style="border-radius:50%">
                <h3>Manos Nathanail</h3>
                <p class="title">Founder</p>
                <i class="glyphicon glyphicon-envelope"></i><a href="mailto:m.nathanail@yahoo.gr"> m.nathanail@yahoo.gr</a>
                <br />
                <i class="glyphicon glyphicon-gift"></i> August 10, 1987
                <br />
                <br />
                <div class="btn-group">
                    <a target="_blank" href="https://www.facebook.com/manos.nathanail.1" class="btn btn-primary"><span class="fa fa-2x fa-facebook"></span></a>
                    <a target="_blank" href="https://www.linkedin.com/in/manosnathanail" class="btn btn-primary"><span class="fa fa-2x fa-linkedin"></span></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-inverse card-success text-center">
                <img class="card-img-top img-fluid" src="http://via.placeholder.com/200x200" alt="Kostantinos" style="border-radius:50%">
                <h3>Konstantinos Karamaligkas</h3>
                <p class="title">Founder</p>
                <i class="glyphicon glyphicon-envelope"></i><a href="mailto:konstantinos.karamaligkas@gmail.com"> konstantinos.karamaligkas@gmail.com</a>
                <br />
                <i class="glyphicon glyphicon-gift"></i> June 16, 1995
                <br />
                <br />
                <div class="btn-group">
                    <a target="_blank" href="https://www.facebook.com/kostantinos.karamaligkas" class="btn btn-primary"><span class="fa fa-2x fa-facebook"></span></a>
                    <a target="_blank" href="https://www.linkedin.com/in/konstantinos-k-50217b138/" class="btn btn-primary"><span class="fa fa-2x fa-linkedin"></span></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-inverse card-success text-center">
                <img class="card-img-top img-fluid" src="http://via.placeholder.com/200x200" alt="Chris" style="border-radius:50%;">
                <h3>Christos Laganas</h3>
                <p class="title">Founder</p>
                <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:hrlagana@gmail.com"> hrlagana@gmail.com</a>
                <br />
                <i class="glyphicon glyphicon-gift"></i> August 17, 1987
                <br />
                <br />
                <div class="btn-group">
                    <a target="_blank" href="https://www.facebook.com/christos.laganas" class="btn btn-primary"><span class="fa fa-2x fa-facebook"></span></a>
                    <a  target="_blank" href="https://www.linkedin.com/in/christos-laganas-40042413b" class="btn btn-primary"><span class="fa fa-2x fa-linkedin"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

