@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Manos:</strong> <a href="mailto:m.nathanail@yahoo.gr">m.nathanail@yahoo.gr</a><br />
    <strong>Konstantinos</strong> <a href="mailto:konstantinos.karamaligkas@gmail.com">konstantinos.karamaligkas@gmail.com</a><br />
    <strong>Christos:</strong> <a href="mailto:hrlagana@gmail.com">hrlagana@gmail.com</a><br />
</address>
